.table-group {
  margin-top: 12px;
}

.table-group-title {
  color: #555;
}

.table-group-table {
  margin-block: 8px 1em;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  overflow-x: auto;
}

.table-group-table:has(.column-width) {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.table-group-table table {
  border-collapse: collapse;
  width: 100%;
  min-width: var(--table-min-width, auto);
}

.table-group-table table.column-width tr {
  display: grid;
  grid-template-columns: var(--column-widths);
}

.table-group-table table.column-width tr th.with-sort {
  cursor: pointer;
}

.table-group-table table.column-width tr th.with-sort > span {
  position: relative;
}

.table-group-table table.column-width tr th.with-sort > span > svg {
  position: absolute;
  width: 10px;
  height: 10px;
  left: calc(100% + 5px);
  top: 50%;
  transform: translateY(-35%);
  transition: transform 0.5s;
}

.table-group-table table.column-width tr th.with-sort > span > svg.reverse {
  transform: translateY(-35%) rotate(180deg);
}

.table-group-table table.column-width tr th.with-sort:hover {
  background-color: hsl(13, 70%, 70%);
}

.table-group-table table tr:has(th) {
  background-color: hsl(13, 85%, 53%);
  color: white;
}

.table-group-table table tbody tr:has(td):nth-of-type(even) {
  background-color: hsl(13, 90%, 75%);
}

.table-group-table table :is(th, td) {
  border: 1px solid hsl(0, 0%, 70%);
  text-align: left;
  padding: 8px;
}

.table-group-table table td > a {
  text-decoration: none;
  color: hsl(13, 80%, 40%);
  font-weight: 600;
  position: relative;
  isolation: isolate;
  transition: color 0.5s;
}

.table-group-table table td > a::before {
  content: "";
  background-color: transparent;
  position: absolute;
  inset: -4px -0.5em;
  border-radius: 10000px;
  z-index: -1;
  transition: background-color 0.5s;
}

.table-group-table table td > a:hover {
  color: white;
}

.table-group-table table td > a:hover::before {
  background-color: hsl(13, 60%, 50%);
}

.table-group-table table.column-width :is(th, td) {
  border: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table-group-table table.column-width td {
  border-bottom: 1px solid rgb(179, 179, 179);
}
