.title-wrapper {
  background-color: white;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  color: #393939;
  box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.3);
}

.title-wrapper svg {
  width: 20px;
  height: 20px;
  cursor: default;
}

.title-wrapper h3 {
  margin-left: 12px;
  font-size: 1.2em;
  font-weight: 500;
}

.tailing {
  color: hsl(25, 93%, 35%);
}

.tailing a {
  text-decoration: none;
  color: inherit;
  display: flex;
  gap: 6px;
  align-items: center;
  position: relative;
  isolation: isolate;
}

.tailing a::before {
  content: "";
  position: absolute;
  inset: -3px -0.5em;
  background-color: transparent;
  transition: background-color 0.5s;
  border-radius: 10000px;
  z-index: -1;
}

.tailing a:hover::before {
  background-color: rgba(0, 0, 0, 0.1);
}

.tailing a > svg {
  width: 25px;
  height: 25px;
}
