.form > h1 {
  width: max-content;
  margin-inline: auto;
  font-size: 1.4em;
  color: #555;
  margin-bottom: 24px;
  position: relative;
}

.form > h1::before {
  content: "";
  position: absolute;
  top: calc(100% + 2px);
  left: 50%;
  width: calc(100% + 3ch);
  height: 2px;
  background-color: chocolate;
  transform: translateX(-50%);
}

.form-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.form-body input:not([type="radio"]),
.form-body textarea {
  padding: 3px 0.4em;
  font-size: 1.02em;
  width: 100%;
}

.form-body .left-form,
.form-body .right-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width < 1200px) {
  .form-body {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-right: 10%;
  }
}
