.summarize > h1 {
  width: max-content;
  margin-inline: auto;
  font-size: 1.4em;
  color: #555;
  margin-bottom: 24px;
  position: relative;
}

.summarize > h1::before {
  content: "";
  position: absolute;
  top: calc(100% + 2px);
  left: 50%;
  width: calc(100% + 3ch);
  height: 2px;
  background-color: chocolate;
  transform: translateX(-50%);
}

.detail {
  margin-bottom: 24px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
}

.detail > h2 {
  background-color: chocolate;
  color: white;
  font-size: 1.1em;
  text-align: center;
  padding-block: 3px;
}

.detail-body {
  padding: 12px max(16px, 3vw);
  background-color: var(--primary-bg-color);
  color: #474747;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 12px 24px;
}

.detail-body p {
  width: 100%;
  margin-inline: auto;
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.detail-body p span:first-of-type {
  white-space: nowrap;
}

.detail-body p span:last-of-type {
  color: brown;
  text-align: end;
}

.detail-body .contract-detail {
  grid-column: 1 / -1;
}
