.single {
  width: min(90%, 1000px);
  margin: 24px auto;
}

.single-detail > h1 {
  margin-block: 16px;
  display: flex;
  align-items: center;
}

.single-detail > h1 > span {
  font-size: 0.9em;
  color: #363636;
  flex-grow: 1;
}

.single-detail > h1 > button {
  border: none;
  outline: none;
  font-size: 0.6em;
  padding: 3px 1em;
  border-radius: 10000px;
  color: white;
  background-color: hsl(25, var(--saturation, 75%), var(--brightness, 47%));
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.single-detail > h1 > button:hover {
  --saturation: 90%;
  --brightness: 60%;
}

.single-detail-body {
  background-color: white;
  padding: 32px 28px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 24px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
}

.single-detail-body > p,
.single-detail-body > .btn-groups {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  font-size: 1.12em;
}

.single-detail-body > p.title {
  grid-column: 1/-1;
  background-color: chocolate;
  color: white;
  padding: 3px 1.5em;
  border-radius: 10000px;
  justify-content: center;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.3);
}

.single-detail-body > .btn-groups {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}

.single-detail-body > .btn-groups > button {
  border: none;
  outline: none;
  background-color: hsl(25, var(--saturation, 100%), 66%);
  color: white;
  border-radius: 10000px;
  font-size: 0.9em;
  padding: 4px 1em;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.single-detail-body > .btn-groups > button:hover {
  --saturation: 75%;
}

.single-detail-body > p span:first-of-type {
  white-space: nowrap;
}

.single-detail-body > p span:last-of-type {
  color: #aa4801;
  text-align: end;
}

.single-detail-body > .equipment-table {
  grid-column: 1 / -1;
}

.single-detail-body > .equipment-table .table-title {
  font-size: 1.12em;
  color: black;
}
